body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/homepage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.navbar {
     box-sizing: border-box;
    width: 100%;
    background: rgb(210, 240, 210);
    padding: 4px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-left, .nav-right {
    display: flex;
    gap: 35px;
}

.nav-left li, .nav-right li {
    list-style: none;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
    color: #0d3310;
}

.nav-left a:hover, .nav-right a:hover {
    color: #407b40;
}


.logo {
    font-size: 40px;
    font-weight: bold;
    color: black;
    letter-spacing: 2px;
}



.hero {
    text-align: center;
    margin-top: 120px;
}

.hero h1 {
    font-size: 58px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}


.search input {
    width: 20%;
    padding: 18px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.footer {
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    background: rgb(220, 220, 220); 
    padding: 20px 50px;
    margin-top: 230px;
    
}

.footer-main {
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer-left a, .footer-right a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.footer-left a:hover, .footer-right a:hover {
    color: #009933;
}


.footer-center h2 {
    font-size: 35px;
    color: #004400;
    margin: 0;
}



.footer-bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-images {
    display: flex;
    gap: 5px;
}

.footer-images img {
    width: 250px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}


.caption {
    font-size: 24px;
    font-weight: bold;
    color: #003300;
}


.copy {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    opacity: 0.8;
}

.course-header{
    text-align:center;
    margin-top:60px;
    margin-bottom: 30px;
}
.course-header h1{
    font-size:52px;
    color:white;
    font-weight:bold;
}
.course-header p{
    font-size:32px;
    color:whitesmoke;
    margin-top:10px;
}


.course-container{

    width:85%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr); 
    gap:25px;
    margin-bottom: 50px;
}

.course-card{
    background:white;
   
    padding:15px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 10px black;
    transition:0.3s;
}
.course-card:hover{
    transform:scale(1.05);
    box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.course-card h2{font-size:22px;color:black;}
.course-card p{font-size:16px;margin:10px 0;color:#333;}
.course-card h3{color:black;margin:10px 0;}
.course-card button{
    padding:10px 20px;
    font-size:16px;
    background:rgb(44, 22, 143);
    color:white;
    border:none;
    border-radius:6px;
}
.course-card button:hover{
    background:#4e4ba4;
    cursor:pointer;
}
.course-card img{
    width:100%;
    height:200px;
    border-radius: 10px;
    object-fit: cover;     
    margin-bottom: 12px;
}


body {
    background-image: url('images/homepage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.login-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-box {
    width: 350px;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #08371d;
}

.login-box label {
    display: block;
    font-size: 15px;
    margin: 5px 0 4px;
    color: #08371d;
}

.login-box input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bbb;
    margin-bottom: 15px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background: #08371d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.login-box button:hover {
    background: #0c522c;
}

.signup-text {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.signup-text a {
    color: #0c522c;
    font-weight: bold;
    text-decoration: none;
}



.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.signup-box{
    width: 360px;
    background: rgba(255,255,255,0.75);
    padding: 35px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px);
}

.signup-box h2{
    text-align: center;
    margin-bottom: 20px;
    color:#08371d;
}

.signup-box label{
    display:block;
    margin-bottom:5px;
    margin-top:10px;
    font-weight:500;
    color:#08371d;
}

.signup-box input{
    width:100%;
    padding:10px;
    border-radius:5px;
    border:1px solid #bbb;
    outline:none;
}

.signup-box button{
    width:100%;
    margin-top:18px;
    padding:10px;
    background:#08371d;
    color:#fff;
    border:none;
    border-radius:5px;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.signup-box button:hover{
    background:#0c522c;
}

.login-text{
    text-align:center;
    margin-top:12px;
}

.login-text a{
    color:#0c522c;
    font-weight:600;
    text-decoration:none;
}

